#include "winver.h"

//IDI_ICON1               ICON    DISCARDABLE     "ezlog.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,4,0,0
 PRODUCTVERSION 1,4,0,0
 FILEFLAGS 0x0L
 FILEFLAGSMASK 0x3fL
 FILEOS 0x00040004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "CompanyName", "Shanghai University | wbsecg1@gmail.com"
            VALUE "FileDescription", "a Qt wrapper for ezlog. https://github.com/wang-bin/ezlog"
            VALUE "FileVersion", "1.4.0.0"
            VALUE "LegalCopyright", "Copyright (C) 2011-2013 WangBin"
            VALUE "InternalName", "ezlog-qt"
            VALUE "OriginalFilename", "ezlog-qt.dll"
            VALUE "ProductName", "QtEZLog"
            VALUE "ProductVersion", "1.4.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
